@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&family=Raleway&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', 'Poppins', 'sans-serif';
}

