.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 30px 10px 30px;
  align-items: center;
  border-bottom: 2px solid rgb(85, 85, 254);
}

.welcome h1 {
  font-size: 2.5rem;
}

.welcome span {
  color: #468fcf;
}


.logo-div {
  margin-right: 60px;
  text-align: center;
  color: rgb(138, 138, 238);
  background: radial-gradient(circle at top right, #f00, #3020ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-offline {
  display: flex;

  gap: 2rem;
}
.online-offline img {
  cursor: pointer;
}

.online-offline > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
